@{
    ViewData["Title"] = "Интернет-Аукцион";
}
<table class="table table-sm table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">№</th>
            <th scope="col">Название</th>
            <th scope="col">Теги</th>
            <th scope="col">Начальная стоймость</th>
            <th scope="col">минимальная ставка</th>
            <th scope="col">Цена на данный момент</th>
            <th scope="col">Статус</th>
        </tr>
    </thead>
    <tbody>
            <tr>
                <td ></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
    </tbody>
</table>

